<% layout('layouts/boilerplate') %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
</head>
<body> -->
   <div class="row">
    <h1 class="text-center text-white"> Add a News</h1>
       <div class="col-6 offset-3">
        <form action="/news" method="POST">
            <section class="mb-3">
            <label class="form-label text-white" for="news_title">Title</label>
            <input class="form-control" type="text" name="title" id="news_title">
        </section><section class="mb-3">
            <label class="form-label text-white" for="image">Image</label>
            <input class="form-control" type="text" name="image" id="image" placeholder="url">
        </section><section class="mb-3">
            <label class="form-label text-white" for="description">Description</label>
            <textarea class="form-control" cols="60" rows="5" name="description" id="description"> </textarea>
        </section><section class="mb-3">
            <label class="form-label text-white" for="featured">Featured</label>
            <select class="form-control" id="featured" name="featured">
                <option value=true>Yes</option>
                <option value=false>No</option>
            </select>
        </section>
        <section class="mb-3">
            <button class="btn btn-success">Submit</button>
        </section>   
            </form>
        
       </div>
   </div>
    

<!-- </body>
</html> -->