<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-block text-center">
      <div class="badge mt-5 mb-5">
      <a class="navbar-brand" href="#">News</a>
    </div>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link" href="/news">Home</a>
          <a class="nav-link" href="#">Work</a>
          <a class="nav-link" href="/news/new">Add Article</a>
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Blog</a>
          <a class="nav-link" href="#">Content</a>
        </div>
      </div>
    </div>
  </nav>